<html>
  <head>
    <title>Edit a gossip</title>
  </head>
  <body>
    <h1>Modifier mon gossip</h1>
    <p>Modifie ton gossip numéro <%= id + 1 %></p>
    <form action='/gossips/<%= id%>/edit/' method='POST'>
    <% gossips = Gossip.all %>
      Saisis ici ton nom : <input type='text' name='gossip_author' value="<%= gossips[id].author%>"/><br/>
      Balance ta modif : <input type='text' name='gossip_content' value="<%= gossips[id].content%>"/><br/>
       <input type='submit'/>
    </form>
  </body>
</html>