<html>
  <head>
    <title>Page de potins</title>
  </head>
  <body>
    <h1>Voici la page du gossip</h1>
    
        <p>
          Voici le potin n°=  <%= id +1 %><br/>
          Son auteur est <%= gossips.author.upcase %><br/>
          Et son gossip est le suivant : <%= gossips.content %>
        </p>
      
  </body>
</html>