<html>
  <head>
    <title>Page de potins</title>
  </head>
  <body>
    <h1>Voici la page du gossip</h1>
    <% gossips.each do |gossip| %>
        <p>
          Voici le potin n°=  <%= id %><br/>
          Son auteur est <%= gossip.author.upcase %><br/>
          Et son gossip est le suivant : <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>